@import "../../styles/main.scss";

.post-container {
  padding: 75px 0 75px;

  h2 {
    text-align: left;
    font-weight: 200;
    font-size: 23px;
  }
}

.posts-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  .post {
    flex: 0 0 50%;
    padding: 15px;

    @media(max-width: 991px) {
      flex: 0 0 100%;
    }
  }
}

.create-post {
  margin-bottom: 30px;

  h2 {
    margin-bottom: 25px;
  }

  &__topic {
    display: flex;
    flex-flow: row wrap;

    div {
      &:nth-child(1) {
        flex: 0 0 10%;
        text-align: center;
        padding: 5px;
        @media(max-width: 991px) {
          flex: 0 0 20%;
          padding: 10px;
        }

        img {
          width: 85px;
          height: 85px;
          @include border-radius(50%);
          @media(max-width: 991px) {
            max-width: 75px;
            height: 75px;
          }

          @media(max-width: 500px) {
            width: 100%;
          }
        }

        p {
          margin-top: 5px;
          margin-bottom: 0;
        }
      }

      &:nth-child(2) {
        flex: 0 0 90%;
        @media(max-width: 991px) {
          flex: 0 0 80%;
        }

      }

      &:nth-child(3) {
        flex: 0 0 100%;
        text-align: right;
        margin-top: 10px;
      }
    }
  }
}

.load-more-button {
  display: none;
}

.show-less-button {
  display: none;
}